<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <title>Bem-vindo</title>
</head>
<body ng-controller="FilmesController">
  <h1>Bem vindo ao treinamento de MEAN Stack do Alura!</h1>

  <p>{{filme}}</p>

  <script src="js/angular.js"></script>
  <script src="js/FilmesController.js"></script>
</body>
</html>
